In [1]:
n = int(input("Enter your number "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter your number 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [5]:
input('text')

textstep2 : eplain

'step2 : eplain'

In [3]:
def my_func(x):
    print(x,"* 1 =",x*1)
    print(x,"* 2 =",x*2)
    print(x,"* 3 =",x*3)
    print(x,"* 4 =",x*4)
    print(x,"* 5 =",x*5)
    print(x,"* 6 =",x*6)
    print(x,"* 7 =",x*7)
    print(x,"* 8 =",x*8)
    print(x,"* 9 =",x*9)
    print(x,"* 10 =",x*10)

In [4]:
my_func(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [6]:
input('text')

textStep3 : using loop

'Step3 : using loop'

In [8]:
for x in range(1,21):
    print(x,"* 2 =",x*2)

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20
11 * 2 = 22
12 * 2 = 24
13 * 2 = 26
14 * 2 = 28
15 * 2 = 30
16 * 2 = 32
17 * 2 = 34
18 * 2 = 36
19 * 2 = 38
20 * 2 = 40

In [9]:
for x in range(1,21):
    print(x,"* 4 =",x*4)

1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40
11 * 4 = 44
12 * 4 = 48
13 * 4 = 52
14 * 4 = 56
15 * 4 = 60
16 * 4 = 64
17 * 4 = 68
18 * 4 = 72
19 * 4 = 76
20 * 4 = 80

In [10]:
for x in range(1,21):
    print(x,"* 5 =",x*5)

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
11 * 5 = 55
12 * 5 = 60
13 * 5 = 65
14 * 5 = 70
15 * 5 = 75
16 * 5 = 80
17 * 5 = 85
18 * 5 = 90
19 * 5 = 95
20 * 5 = 100